<script setup>
import {ref} from "vue";
import {ApiPostJsonThrow} from "@/api";

const loading = ref(false);

const playerId = ref("");
const password = ref("");
const loggedIn = ref(false);
const correctLogin = ref(true);
const accountCreationFailReason = ref("");

const question = ref(null);
const typedAnswer = ref("");
const correctAnswer = ref(true);

async function login(){
	correctLogin.value = true;
	loading.value = true;
	
	try {
		await ApiPostJsonThrow(
			"/school/timesTables/login",
			{
				"playerId": playerId.value.trim(),
				"password": password.value.trim()
			}
		);
		
		loggedIn.value = true;
	}
	catch(e){
		correctLogin.value = false;
	}
	finally {
		loading.value = false;

        if(loggedIn.value) {
            await getQuestion();
        }
	}
}

async function createAccount(){
    accountCreationFailReason.value = "";
    loading.value = true;

    try {
        await ApiPostJsonThrow(
            "/school/timesTables/createAccount",
            {
                "playerId": playerId.value.trim(),
                "password": password.value.trim()
            }
        );

        loggedIn.value = true;
    }
    catch(e){
        console.log(e);
        accountCreationFailReason.value = e;
    }
    finally {
        loading.value = false;

        if(loggedIn.value) {
            await getQuestion();
        }
    }
}

async function getQuestion(){
    loading.value = true;
    correctAnswer.value = true;
    typedAnswer.value = "";

    question.value = await ApiPostJsonThrow(
    "/school/timesTables/getQuestion",
    {
            "playerId": playerId.value.trim(),
            "password": password.value.trim()
          }
    );
    loading.value = false;

    setTimeout(function(){
        document.getElementById("answerInputElem").focus();
    }, 10);
}

async function answerQuestion(){
    if(!correctAnswer.value){
        correctAnswer.value = true;
        await getQuestion();
        return;
    }

    if(typedAnswer.value.trim().length === 0){
        return;
    }

    loading.value = true;

    const correctResp = await ApiPostJsonThrow(
        "/school/timesTables/postQuestionResp",
        {
            "playerId": playerId.value.trim(),
            "password": password.value.trim(),
            "questionScoreId": question.value.questionScoreId,
            "answer": typedAnswer.value.trim()
        }
    );

    correctAnswer.value = correctResp.correct;

    loading.value = false;

    if(correctAnswer.value){
        await getQuestion();
    }
    else{
        setTimeout(function(){
            document.getElementById("nextButtonElem").focus();
        }, 10);
    }
}
</script>

<style scoped>
</style>

<template>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Times Tables</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<div class="card-text">
				<span v-if="loading">
					Loading...
				</span>
                <template v-else-if="!loggedIn">
                    <h2>Login</h2>
                    <form  @submit.prevent="login">
                        <span v-if="!correctLogin">Incorrect login</span>
                        <br />
                        Player ID: <input type="text" v-model="playerId" />
                        <br />
                        Password: <input type="password" v-model="password" />
                        <br />
                        <input type="submit" value="Login" />
                    </form>
                    <hr />
                    <h2>Create Account</h2>
                    <form  @submit.prevent="createAccount">
                        <span v-if="accountCreationFailReason !== ''">Account creation failed: {{ accountCreationFailReason }}</span>
                        <br />
                        Player ID: <input type="text" v-model="playerId" />
                        <br />
                        Password: <input type="password" v-model="password" />
                        <br />
                        <input type="submit" value="Create account" />
                    </form>
                </template>
				<form v-else @submit.prevent="answerQuestion">
					<span>{{ question.question }}</span>
					<br />
					<template v-if="!correctAnswer">
						<span >Incorrect answer</span>
						<br />
						<input type="submit" value="Next" id="nextButtonElem" />
					</template>
					<template v-else>
						Answer: <input type="text" v-model="typedAnswer" id="answerInputElem" />
						<br />
						<input type="submit" value="Check" />
					</template>
				</form>
			</div>
		</div>
	</div>
</template>
