<script setup>
import { ApiPostJsonThrow } from "@/api";
import { ref, computed } from "vue";
import moment from "moment";

const itemName = ref("");
const secret = ref("");
const showSecret = ref(false);

const fetchedData = ref([]);
const loading = ref(false);
const yetToLoad = ref(true);

async function getResults(){
	yetToLoad.value = false;
	loading.value = true;
	
	const data = await ApiPostJsonThrow(
		"/SkyBlockBazaarMonitor/listBazaarActionsLogged",
		{
			"secret": secret.value.trim(),
			"itemName": (itemName.value.trim() == "") ? null : itemName.value.trim()
		}
	);
	
	fetchedData.value = data.data;
	loading.value = false;
}

const amountFormatter = new Intl.NumberFormat('en-US');
const currencyFormatter = new Intl.NumberFormat('en-US', {
	style: 'currency',
	currency: 'USD',
});

const itemTotalChange = computed(() => {
	let total = 0;
	
	for(let i in fetchedData.value){
		if(fetchedData.value[i].action == 'buy'){
			total += fetchedData.value[i].itemAmount;
		}
		else if(fetchedData.value[i].action == 'sell'){
			total -= fetchedData.value[i].itemAmount;
		}
	}
	
	return total;
});

const coinTotalChange = computed(() => {
	let total = 0;
	
	for(let i in fetchedData.value){
		if(fetchedData.value[i].action == 'buy'){
			total -= fetchedData.value[i].coinAmount;
		}
		else if(fetchedData.value[i].action == 'sell'){
			total += fetchedData.value[i].coinAmount;
		}
	}
	
	return total;
});
</script>

<template>
	<div class="card mb-4 p-4">
		<div class="mb-3">
			<b>Generate new random password:</b> /bazaarMonitorNewPassword
			<br />
			<b>Set a new password:</b> /bazaarMonitorSetPassword [password]
			<br />
			<b>Get the currenct password password:</b> /bazaarMonitorGetPassword
		</div>
		<div class="mb-3">
			<div class="input-group mb-2">
				<span class="input-group-text" style="width: 15%;" id="secret">Password</span>
				<template v-if="showSecret">
					<input type="text" class="form-control" aria-label="Password" aria-describedby="secret" v-model="secret" />
					<a href="#" class="input-group-text text-decoration-none" id="secret" @click="showSecret = false"><i class="bi bi-eye-slash"></i></a>
				</template>
				<template v-else>
					<input type="password" class="form-control" aria-label="Password" aria-describedby="secret" v-model="secret" />
					<a href="#" class="input-group-text text-decoration-none" id="secret" @click="showSecret = true"><i class="bi bi-eye"></i></a>
				</template>
			</div>
			<form @submit.prevent="getResults">
				<div class="input-group mb-2">
					<span class="input-group-text" style="width: 15%;" id="item-name">Item Name</span>
					<input type="text" class="form-control" aria-label="ItemName" aria-describedby="item-name" v-model="itemName" />
				</div>
				<div class="text-end">
					<input type="submit" value="Fetch" class="btn btn-primary" :disabled="loading" />
				</div>
			</form>
		</div>
		<div v-if="yetToLoad" class="text-center">
			Enter a Password and optionally an Item Name, then press "Fetch"!
		</div>
		<div v-else-if="loading" class="text-center">
			Loading...
		</div>
		<div v-else>
			<div class="row">
				<div class="col fw-bold text-center">
					Timestamp
				</div>
				<div class="col fw-bold text-center">
					Item Name
				</div>
				<div class="col fw-bold text-center">
					Action
				</div>
				<div class="col fw-bold text-end">
					Item Amount
					<br />
					(Total: {{ amountFormatter.format(itemTotalChange) }})
				</div>
				<div class="col fw-bold text-end">
					Coin Amount
					<br />
					(Total: {{ currencyFormatter.format(coinTotalChange) }})
				</div>
				<div class="col fw-bold text-end">
					Unit Price
				</div>
			</div>
			<template v-for="item in Array.from(fetchedData).reverse()" :key="item.secret + '-' + item.playerUUID + '-' + item.timestamp">
				<div class="row" v-if="item.action == 'buy' || item.action == 'sell'">
					<div class="col text-center" :title="item.timestamp">
						{{ moment(item.timestamp).fromNow().replace("minutes", "mins") }}
					</div>
					<div class="col text-center">
						{{ item.itemName }}
					</div>
					<div class="col text-center text-capitalize">
						{{ item.action }}
					</div>
					<div class="col text-end">
						{{ item.itemAmount == -1 ? "N/A" : ((item.action == 'buy' ? '+ ' : '- ') + amountFormatter.format(item.itemAmount)) }}
					</div>
					<div class="col text-end">
						{{ item.coinAmount == -1 ? "N/A" : ((item.action == 'buy' ? '- ' : '+ ') + currencyFormatter.format(item.coinAmount)) }}
					</div>
					<div class="col text-end">
						{{ item.unitPrice == -1 ? "N/A" : currencyFormatter.format(item.unitPrice) }}
					</div>
				</div>
			</template>
			<div v-if="fetchedData.length == 0" class="text-center">
				<i>No results</i>
			</div>
		</div>
	</div>
</template>
