<script setup>
</script>

<template>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Welcome!</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<p class="card-text">
				This is the CablePost website. It is still in the process of being made, but feel free to look at the <RouterLink to="/mc/mods">Minecraft Mods</RouterLink> and join the <a href="https://discord.gg/GetHS2R" target="_blank">Discord</a>.
			</p>
		</div>
	</div>
</template>
