<script setup>
</script>

<template>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">404</h5>
			<h6 class="card-subtitle mb-2 text-muted">Page not found</h6>
			<p class="card-text">
				The page you were looking for cannot be found.
			</p>
			<RouterLink to="/" class="card-link">Home</RouterLink>
		</div>
	</div>
</template>