<script setup>
</script>

<style scoped>
.downloadPlatformImg {
  object-fit: cover;
  height: 80%;
}
</style>

<template>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Bodkin Racer</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<p class="card-text">
				A WIP time trial racing game
				<br />
				If you have Discord installed, your times and route will be saved to the scoreboard. (Not implemented at time of writing)
				<br />
				This game uses a mix of assets from <a href="https://opengameart.org/" target="_blank">OpenGameArt.org</a> and my own.
			</p>
		</div>
	</div>
	<br />
	<br />
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Download</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<div class="card-text">
				<div class="row">
					<div class="col-6 text-center">
						<a href="https://files.cablepost.co.uk/bodkinRacer/setup.exe" target="_blank">
							<img src="/images/bodkinRacer/nicolas-solerieu-4gRNmhGzYZE-unsplash.jpg" class="w-100 downloadPlatformImg" />
							<br />
							<br />
							Windows
						</a>
					</div>
					<div class="col-6 text-center">
						<a href="https://gitlab.com/billyg270/bodkin-racer-launcher-linux" target="_blank">
							<img src="/images/bodkinRacer/cornelius-ventures-Ak81Vc-kCf4-unsplash.jpg" class="w-100 downloadPlatformImg" />
							<br />
							<br />
							Linux
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Screenshots</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<p class="card-text">
				<img src="https://media.discordapp.net/attachments/1107042403161997424/1107042673128390846/image.png" class="w-100" />
				<br />
				<br />
				<img src="https://media.discordapp.net/attachments/1107042403161997424/1107042428835340330/image.png" class="w-100" />
				<br />
				<br />
				<img src="https://media.discordapp.net/attachments/1107042403161997424/1107044294054908046/Screenshot_20230513_213628.png" class="w-100" />
			</p>
		</div>
	</div>
</template>
