<script setup>
</script>

<template>
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Minecraft</h5>
			<h6 class="card-subtitle mb-2 text-muted"></h6>
			<p class="card-text">
				...
			</p>
		</div>
	</div>
</template>
