<script setup>
</script>

<template>
	<div class="card mb-4">
		<div class="row g-0">
			<div class="col-auto">
				<div style="position: relative; width: 100px; height: 100%;">
					<a href="https://matej.carrd.co/" target="_blank">
						<img src="/images/matej.png" class="card-img-left" style="position: absolute; bottom: 1px; max-height: 100%; max-width: 100px;" alt="Matej's Profile Picture">
					</a>
				</div>
			</div>
			<div class="col">
				<div class="card-body d-flex h-100">
					<p class="card-text m-auto ms-0">
						Most of the (good) textures and models from these mods was made by Matej. Check him out <a href="https://matej.carrd.co/" target="_blank">here!</a>
					</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row row-cols-1 row-cols-md-2 g-4">
		<div class="col">
			<div class="card h-100">
				<img src="/images/mc/mods/gold_auto_crafter.gif" class="card-img-top" alt="GIF of conveyor belts and robot arms">
				<div class="card-body">
					<h5 class="card-title">Auto Workstations</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text">
						Auto Workstations adds automated versions for many of the vanilla workstations, including:
						<ul>
							<li>Crafting Table</li>
							<li>Furnace</li>
							<li>Enchanting Table</li>
							<li>Brewing Stand</li>
						</ul>
					</p>
				</div>
				<div class="card-footer">
					<a href="https://www.curseforge.com/minecraft/mc-mods/auto-workstations-fabric" target="_blank" class="card-link">View on CurseForge</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="/images/mc/mods/conveyor_belt_with_arms.gif" class="card-img-top" alt="GIF of gold auto crafting table with hoppers attached">
				<div class="card-body">
					<h5 class="card-title">Conveyor Belts</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text">
						Simple conveyor belts in Minecraft. Including filtering and cool looking robot arms!
					</p>
				</div>
				<div class="card-footer">
					<a href="https://www.curseforge.com/minecraft/mc-mods/conveyor-belts-fabric" target="_blank" class="card-link">View on CurseForge</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="/images/mc/mods/quarry.png" class="card-img-top" alt="Image of quarry">
				<div class="card-body">
					<h5 class="card-title">Simple Quarry</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text">
						This 1.18.2 fabric mod adds automated mining to Minecraft with quarries!
						<br />
						Simply place down a quarry and supply it with a drill and fuel.
						<br />
						Drills come in iron, diamond and netherite tiers, and can be enchanted like a pickaxe.
					</p>
				</div>
				<div class="card-footer">
					<a href="https://www.curseforge.com/minecraft/mc-mods/simple-quarry-fabric" target="_blank" class="card-link">View on CurseForge</a>
				</div>
			</div>
		</div>
		<div class="col">
			<div class="card h-100">
				<img src="/images/mc/mods/extractinator_tweaks_ui.gif" class="card-img-top" alt="GIF of UI added to the mod via this addon">
				<div class="card-body">
					<h5 class="card-title">Extractinator Tweaks</h5>
					<h6 class="card-subtitle mb-2 text-muted"></h6>
					<p class="card-text">
						This mod alters the mechanics of The Extractinator.
					</p>
					<p class="card-text">
						When right clicking the block, instead of inserting the currently held item, a GUI will open.
					</p>
					<p class="card-text">
						This GUI has a single input slot and 27 output slots.
					</p>
					<p class="card-text">
						The block no longer throws out it's output when there is not a hopper underneath, this means it can work with other logistic mods besides the pipe mod it has compatibility for, as the interface is now more generic.
					</p>
				</div>
				<div class="card-footer">
					<a href="https://www.curseforge.com/minecraft/mc-mods/extractinator-tweaks" target="_blank" class="card-link">View on CurseForge</a>
				</div>
			</div>
		</div>
	</div>
</template>
