<script setup>
</script>

<template>
	<nav class="navbar navbar-expand-lg bg-light">
		<div class="container-fluid">
			<RouterLink class="navbar-brand" to="/">
				<img src="/images/logo.png" alt="" height="24">
			</RouterLink>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<RouterLink class="nav-link active" aria-current="page" to="/">Home</RouterLink>
					</li>
					<li class="nav-item">
						<RouterLink class="nav-link" to="/mc/mods">Minecraft Mods</RouterLink>
					</li>
					<li class="nav-item">
						<RouterLink class="nav-link" to="/bodkinracer">Bodkin Racer</RouterLink>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="https://discord.gg/GetHS2R" target="_blank">Discord</a>
					</li>
					<!--
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
							Dropdown
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="#">Action</a></li>
							<li><a class="dropdown-item" href="#">Another action</a></li>
							<li><hr class="dropdown-divider"></li>
							<li><a class="dropdown-item" href="#">Something else here</a></li>
						</ul>
					</li>
					-->
					<!--
					<li class="nav-item">
						<a class="nav-link disabled">Disabled</a>
					</li>
					-->
				</ul>
				<!--
				<form class="d-flex" role="search">
					<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success" type="submit">Search</button>
				</form>
				-->
			</div>
		</div>
	</nav>
</template>
