<script setup>
	import { RouterLink, RouterView } from 'vue-router';
	import NavBar from "@/components/NavBar.vue";
</script>

<style>
	@import "bootswatch/dist/quartz/bootstrap.min.css";
	
	@media (prefers-color-scheme: dark) {
		body {
			/* background-image: linear-gradient(90deg,#541C1F,#3C1137,#04033D); */
			background-image: linear-gradient(
				135deg,
				#022C43,
				#053F5E,
				#115173
			);
			/*#ffd90091*/
		}
		
		.navbar {
			background-color: var(--bs-dark) !important;
		}
		
		.navbar-toggler-icon, .nav-link {
			color: var(--bs-light) !important;
		}
		
		.card {
			background-image: linear-gradient(125deg, rgba(185, 185, 185, 0.2), rgba(172, 172, 172, 0.1) 70%);
		}
	}
</style>

<template>
	<NavBar />
	<div class="container mt-4 mb-4">
		<RouterView v-slot="{ Component }">
			<Transition name="fade">
				<Component :is="Component" />
			</Transition>
		</RouterView>
	</div>
</template>
